<ion-content class="login-bg">

  <div class="overlay"></div>

  <div class="login-container">

    <div class="logo-area">
      <ion-icon name="film-outline"></ion-icon>
      <h1>Cinephile</h1>
      <p>Premium Cinema Society</p>
    </div>

    <ion-card class="login-card">

      <ion-card-header>
        <ion-card-title>
          Login
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>


        <ion-item>
          <ion-label position="stacked">
            Email
          </ion-label>

          <ion-input
            type="email"
            [(ngModel)]="email"
            placeholder="email@email.com">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">
            Senha
          </ion-label>

          <ion-input
            type="password"
            [(ngModel)]="senha"
            placeholder="Digite sua senha">
          </ion-input>
        </ion-item>

        <ion-button
          expand="block"
          class="enter-btn"
          (click)="entrar()">

          Entrar

        </ion-button>

        <ion-button
          expand="block"
          fill="outline"
          color="light"
          (click)="criarConta()">

          Criar uma conta

        </ion-button>

      </ion-card-content>

    </ion-card>

  </div>

</ion-content>