.conta-bg {
  --background: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba")
  no-repeat center center / cover;
}

.overlay{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
}

.container{
  position:relative;
  z-index:2;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:20px;
}

.logo{
  text-align:center;
  margin-bottom:30px;
}

.logo h1{
  color:#8968cd;
  font-size:42px;
  font-weight:bold;
}

.logo p{
  color:#ccc;
}

.card{
  width:100%;
  max-width:420px;

  background:rgba(0,0,0,0.65);
  backdrop-filter: blur(15px);
}

.btn-criar{
  margin-top:20px;
  --background:#8968cd;
}