.filter-panel{
  margin-top:30px;
  background:rgba(18,18,18,0.7);
  backdrop-filter:blur(20px);
  border:1px solid rgba(255,255,255,0.05);
  border-radius:24px;
  padding:20px;
}

.filter-section h3{
  color:white;
  font-size:20px;
  margin-bottom:15px;
  font-weight:700;
}

.genre-scroll{
  display:flex;
  gap:10px;
  overflow-x:auto;
  padding-bottom:10px;
}

.genre-scroll::-webkit-scrollbar{
  display:none;
}

.genre-chip{
  background:#1c1c1c;
  color:#ddd;
  border:none;
  padding:10px 18px;
  border-radius:999px;
  white-space:nowrap;
  transition:0.3s;
  font-weight:600;
}

.genre-chip.active{
  background:#8968cd;
  color:white;
  box-shadow:0 0 20px rgba(137,104,205,0.4);
}

.advanced-filters{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
  margin-top:25px;
}

.glass-filter ion-input{
  --color:white;
  --placeholder-color:#666;
}


.hero{
  margin-bottom:20px;
}

.hero h1{
  font-size:40px;
  font-weight:800;
  color:white;
  line-height:1.1;
  padding-left: 15px;
  padding-top: 10px;
}

.hero p{
  color:#aaa;
  margin-top:10px;
  margin-bottom:20px;
  padding-left: 15px;
  padding-top: 10px;
}

ion-searchbar{
  --background:rgba(255,255,255,0.05);
  --border-radius:20px;
  --color:white;
  --placeholder-color:#777;
  --icon-color:#8968cd;
}

.grid-filmes{
  margin-top:40px;
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap:20px;
  text-align: center;
}

.filme-card{
  background:#111;
  border-radius:20px;
  overflow:hidden;
  border:1px solid rgba(255,255,255,0.05);
  transition:0.3s;
  cursor:pointer;
  backdrop-filter:blur(10px);
  box-shadow:0 5px 20px rgba(0,0,0,0.3);
}

.filme-card:hover{
  transform:translateY(-5px);
  border-color:#8968cd;
  box-shadow: 0 10px 30px rgba(137,104,205,0.2);
}

.filme-card img{
  width:100%;
  height:320px;
  object-fit:cover;
}

.nota{
  color:#8968cd;
}


.container{
  background-color: #1c1c1c;
}