<ion-header>

  <ion-toolbar color="dark">

    <ion-title>
      CINEPHILE
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="inicio-bg" color="dark">

  <div class="container">

    <!-- HERO -->

    <div class="hero">

      <h1>
        Bem vindo!
      </h1>

      <p>
        Descubra novos filmes e experências
      </p>

      <!-- BUSCA -->

      <ion-searchbar
        [(ngModel)]="busca"
        (ionInput)="buscarFilmes()"
        placeholder="Pesquise por algum título">
      </ion-searchbar>

    </div>

   <!-- FILTER PANEL -->

<div class="filter-panel">

  <!-- GENEROS -->

  <div class="filter-section">

    <h3>
      Gêneros
    </h3>

    <div class="genre-scroll">

      <button
        class="genre-chip"
        [class.active]="generoSelecionado === ''"
        (click)="generoSelecionado=''; buscarFilmes()">

        Todos

      </button>

      <button
        *ngFor="let genero of generos"
        class="genre-chip"
        [class.active]="generoSelecionado == genero.id"
        (click)="generoSelecionado = genero.id; buscarFilmes()">

        {{ genero.name }}

      </button>

    </div>

  </div>

  <!-- GRID -->

  <div class="advanced-filters">

    <!-- ANO -->

    <div class="glass-filter">

  <label>
    Ano de lançamento
  </label>

  <ion-input
    type="number"
    [(ngModel)]="anoSelecionado"
    (ionInput)="buscarFilmes()"
    placeholder="1999">
  </ion-input>

</div>

    <!-- DURAÇÃO -->

    <div class="glass-filter">

      <label>
        Duração
      </label>

      <ion-select
        interface="popover"
        [(ngModel)]="duracaoSelecionada"
        (ionChange)="buscarFilmes()">

        <ion-select-option value="">
          Todos
        </ion-select-option>

        <ion-select-option value="90">
          Até 90 minutos
        </ion-select-option>

        <ion-select-option value="120">
          120 minutos ou mais
        </ion-select-option>

      </ion-select>

    </div>

  </div>


</div>

    <!-- LOADING -->

    <div
      *ngIf="carregando"
      class="loading-container">

      <ion-spinner name="crescent"></ion-spinner>

      <p>
        Carregando filmes...
      </p>

    </div>

    <!-- SEM RESULTADOS -->

    <div
      *ngIf="!carregando && filmes.length === 0"
      class="sem-resultados">

      <ion-icon
        name="film-outline">
      </ion-icon>

      <h2>
        Filme não encontrado
      </h2>

      <p>
        Tente outro título.
      </p>

    </div>

    <!-- GRID -->

    <div class="grid-filmes">

      <ion-card
        *ngFor="let filme of filmes"
        class="filme-card"
        (click) = "abrirDetalhes(filme.id)">

        <!-- POSTER -->

        <img
          *ngIf="filme.poster_path"
          [src]="getPoster(filme.poster_path)"
          alt="Poster do filme">

        <!-- PLACEHOLDER -->

        <div
          *ngIf="!filme.poster_path"
          class="poster-placeholder">

          <ion-icon name="image-outline"></ion-icon>

        </div>

        <!-- CONTEÚDO -->

        <ion-card-content>

          <h2>
            {{ filme.title }}
          </h2>

          <div class="info-filme">

            <span class = "nota">
              {{ filme.vote_average | number:'1.1-1' }}
            </span>

            <span>
              {{ filme.release_date | date:'yyyy' }}
            </span>
            
            <span>
              {{filme.original_language | uppercase}}
            </span>

          </div>

        </ion-card-content>

      </ion-card>

    </div>

  </div>

</ion-content>